ZelloVoice/ZelloVoice.Web/Service References/ExportDataService/Trimble.Platform.CommonLibrary.Objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trimble.Platform.CommonLibrary.Objects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trimble.Platform.CommonLibrary.Objects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExportEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportEvent" nillable="true" type="tns:ExportEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportEvent" nillable="true" type="tns:ArrayOfExportEvent" />
  <xs:complexType name="ExportEvent">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:EventBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ParameterCollection" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportEvent" nillable="true" type="tns:ExportEvent" />
  <xs:complexType name="EventBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExportBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AutoGenerated" type="xs:boolean" />
          <xs:element minOccurs="0" name="DIMListID" type="xs:long" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventID" type="xs:long" />
          <xs:element minOccurs="0" name="ID" type="xs:long" />
          <xs:element minOccurs="0" name="Port" type="xs:long" />
          <xs:element minOccurs="0" name="PortData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SiteID" type="xs:long" />
          <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EventBase" nillable="true" type="tns:EventBase" />
  <xs:complexType name="ExportBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:Address" />
      <xs:element minOccurs="0" name="Asset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssetID" type="xs:long" />
      <xs:element minOccurs="0" name="Heading" type="xs:double" />
      <xs:element minOccurs="0" name="Mileage" type="xs:double" />
      <xs:element minOccurs="0" name="Speed" type="xs:double" />
      <xs:element minOccurs="0" name="TimeGMT" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExportBase" nillable="true" type="tns:ExportBase" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:complexType name="ArrayOfExportPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExportPosition" nillable="true" type="tns:ExportPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExportPosition" nillable="true" type="tns:ArrayOfExportPosition" />
  <xs:complexType name="ExportPosition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ExportBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExportPosition" nillable="true" type="tns:ExportPosition" />
</xs:schema>