ZelloVoice/ZelloVoice.Web/Service References/ExportDataService/Trimble.MobileSolutions.Utility.Faults.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Trimble.MobileSolutions.Utility.Faults" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Trimble.MobileSolutions.Utility.Faults" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MissingCapabilityFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MissingCapabilityFault" nillable="true" type="tns:MissingCapabilityFault" />
  <xs:complexType name="FaultBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultBase" nillable="true" type="tns:FaultBase" />
  <xs:complexType name="DatabaseFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DatabaseFault" nillable="true" type="tns:DatabaseFault" />
  <xs:complexType name="UnknownFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UnknownFault" nillable="true" type="tns:UnknownFault" />
</xs:schema>